<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home Helper</h1>
<a href="{{ url_for('home') }}">Home</a>
<a href="{{ url_for('notes') }}">Notes</a>
<ul>
    <b><p>Backgrounds</p></b>
    {% for entry in backgrounds: %}
        <li><a href="{{ entry.split(' -- ')[1] }}">{{ entry.split(' -- ')[0] }}</a></li>
    {% endfor %}
    <b><p>Watchies</p></b>
    {% for entry in watchies: %}
        <li><a href="{{ entry.split(' -- ')[1] }}">{{ entry.split(' -- ')[0] }}</a></li>
    {% endfor %}
    <b><p>Soundies</p></b>
    {% for entry in soundies: %}
        <li><a href="{{ entry.split(' -- ')[1] }}">{{ entry.split(' -- ')[0] }}</a></li>
    {% endfor %}
</ul>
</body>
<footer>
    <p>Copyright {{ year }}. Built by Pubnikname.</p>
</footer>
</html>