{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>Home Helper</h1>

<ul>
    <b><p>Backgrounds</p></b>
    {% for entry in backgrounds: %}
        <li><a href="{{ entry.split(' -- ')[1] }}">{{ entry.split(' -- ')[0] }}</a></li>
    {% endfor %}
    <b><p>Watchies</p></b>
    {% for entry in watchies: %}
        <li><a href="{{ entry.split(' -- ')[1] }}">{{ entry.split(' -- ')[0] }}</a></li>
    {% endfor %}
    <b><p>Soundies</p></b>
    {% for entry in soundies: %}
        <li><a href="{{ entry.split(' -- ')[1] }}">{{ entry.split(' -- ')[0] }}</a></li>
    {% endfor %}
</ul>

{% endblock %}