<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Helper</h1>
<p>soundies:</p>
<ul>
    <li><a href="https://www.youtube.com/watch?v=Mmdc9RIhmOI">tobuscus nugget</a></li>

    <li><a href="https://www.youtube.com/watch?v=zSgiXGELjbc">carl sagan</a></li>

    <li><a href="https://www.youtube.com/watch?v=JIV5qquPTUc">Heavy Metal Instrumental Mix 2021</a></li>

    <li><a href="https://www.youtube.com/watch?v=mEcYjBwSA8Y">3-HOUR Progressive Metal and Djent Mix</a></li>

    <li><a href="https://www.youtube.com/watch?v=tCCkHJNeV2">Metal Mix Cognition Enhancer For ADHD</a></li>

    <li><a href="https://www.youtube.com/watch?v=kWrLU5Mucqs">Best Nightcore Gaming Mix 2021</a></li>

    <li><a href="https://www.youtube.com/watch?v=hpFZWeQq_EU">Classical music remix electro instrumental</a></li>

    <li><a href="https://www.youtube.com/watch?v=u_6YqY1n864">Best Nightcore Gaming Mix 2022</a></li>

    <li><a href="https://www.youtube.com/watch?v=obkEun85HuQ">BFMV best</a></li>

    <li><a href="https://www.youtube.com/watch?v=5kyU-pW6rJk">sick puppies best hits</a></li>

    <li><a hits href="https://www.youtube.com/watch?v=U_tyfMUSGo4">ACDC best</a></li>

    <li><a href="https://www.youtube.com/watch?v=qmd2E93Z9nA">DnB Japanese Drum and Bass ZEN free BGM Sushi</a></li>

    <li><a href="https://www.youtube.com/watch?v=710J6r795JQ">Nightcore Songs Mix 2023</a></li>

    <li><a href="https://www.youtube.com/watch?v=6-y_DoutnLU">paint it black</a></li>

    <li><a href="https://www.youtube.com/watch?v=48BSJTE7_00">Classical metal</a></li>

    <li><a href="https://www.youtube.com/watch?v=6dW6aNAZGTM&list=RDuEkPi0xx4jM&index=1">really nice heavy metal</a>
    </li>
</ul>
</body>
</html>