{% extends "base.html" %}
{% block title %}Notes{% endblock %}
{% block content %}

<h1>Notes</h1>

<a type="button" class="btn btn-primary btn-lg m-2" href="{{ url_for('update_note') }}" >Add Note</a>
<div class="container">
    <div class="row">
        {% for num in range(all_notes|length) %}
            <div class="card col-xl-3 col-lg-4 col-sm-6 mb-2">
              <div class="card-body">
                <h5 class="card-title">{{ all_notes[num].title }}</h5>
                <p class="card-text">{{ short_bodies[num]|safe }}</p>
              </div>
              <a href="{{ url_for('update_note', note_id=all_notes[num].id) }}" class="btn btn-primary mb-1">Edit Note</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}