{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}

<h1>Search Results</h1>
<div class="row">
    {% for item in found_items %}
        <div class="card col-xl-3 col-md-4 mb-1">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.body|safe }}</p>
            </div>
            <p class="card-text"><small class="text-muted">Last updated at {{ item.edited.strftime('%H:%M:%S, %m/%d/%Y') }}</small></p>
            <a href="{{ url_for('update_note', note_id=item.id) }}" class="btn btn-primary mb-1">Edit Note</a>
        </div>
    {% endfor %}
</div>

{% endblock %}