html, .badge {
  background-color: #7D6E83;
  margin-bottom: 0;
}

header, footer {
  background-color: #D0B8A8;
 }

.container-fluid, .form, .flashes {
  background-color: #DFD3C3;
}

.card, .list-group-item {
  background-color: #F8EDE3;
}

.btn-primary {
  background-color: #7D6E83;
  border: none;
}

ul {
  list-style: none;
}

.bi-check-circle {
    color: green;
}

.bi-x {
    color: red;
}